@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body.modal-open {
  overflow: hidden;

}

.modal-bg{
  background-image: url('https://i.gifer.com/XDZT.gif');
  background-repeat: no-repeat;
  background-size: contain;  
}

.persp{
  position: relative;
  perspective: 400px;
}

.skew{
  transform: rotateX(25deg) translateZ(100px);
  transform-origin: 50% 100%;
}

.hero::before {
  content: "";
  height: 100vh;
  width: 100vw;
  color: rgb(181, 181, 181);
  position: fixed;
  z-index: -1;
  /* background-image: radial-gradient(circle at top right, rgb(79, 79, 79),rgb(26, 51, 72)); */
  transition: all 0.5s linear 0s;
}

.menu .sideMenu-active p {
  color: antiquewhite;
  transition: all;
  transition-duration: 300ms;
}

.menu .sideMenu-active div {
  background-color: antiquewhite;
  transition: all;
  width: 70px;
  transition-duration: 300ms;
}

.backdrop-blur{
  --tw-backdrop-blur: blur(8px);
}

@media screen and (max-width:600px) {
  .menu .sideMenu-active p {
    color: #fafafa;
    display: block;
    position: absolute;
    left: 0;
    text-align: start;
    transition: all;
    transition-duration: 300ms;
    padding: 5px 50px;
    border-radius: 20px;
  }

  /* .menu .sideMenu-active{
    transform: translateY(0px);
  } */
}